<section class="skill-section">
    <header class="skill-header">
      <h1 class="skill-title">Skills</h1>
      <a class="EduLink" routerLink="/" routerLinkActive="active">
        <i class="pi pi-home" style="font-size: 2.5rem; margin: 5px"></i>
      </a>
    </header>
  
    <main class="skill-timeline">
      <div>
        <!-- Organization Chart Component -->
        <p-organizationChart [value]="data" selectionMode="single" styleClass="company">
          <!-- Node Template for 'person' Type -->
          <ng-template let-node pTemplate="person">
            <div class="node-header">{{ node.label }}</div>
            <div class="node-content">
              <div>{{ node.data.name }}</div>
            </div>
          </ng-template>
          <!-- Node Template for 'department' Type -->
          <ng-template let-node pTemplate="department">
            {{ node.label }}
          </ng-template>
        </p-organizationChart>
      </div>
    </main>
  </section>
  