.portfolio-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 33px 15px;
  }
  
  .header {
    border-radius: 16px;
    background-color: #d5c8b5;
    display: flex;
    width: auto;
    gap: 20px;
    font-family: Italiana, sans-serif;
    color: #000;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 21px 72px 21px 31px;
    margin-top: 1rem;
    margin-right: 10px;
    margin-left: 10px;

  }
  
  .logo {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }
  
  .navigation {
    align-self: start;
    display: flex;
    margin-top: 11px;
    gap: 15px;
    font-size: 24px;
  }
  
  .nav-link {
    text-decoration: none;
    color: inherit;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    /* /* font-weight: <weight>;  */
    font-style: normal;
    font-size: large;
    font-size: 1.5rem;
    font-variation-settings:
      "wdth" 100;
  }
  .head{
    background-color: #000;
    margin: 0;
  padding: 0;
  border: none;
  }

 /* Apply animation to your navbar
 .navbar {
  transform-origin: center; Start expansion from the center
  animation: navbarExpand 1.5s ease-out forwards;
  opacity: 0; Hidden initially
}

Additional styling to make animations smooth and elegant
.navbar {
  will-change: transform, opacity; Optimize animation performance
}
   */


