/* You can add global styles to this file, and also import other style files */
/* body{
    background-color: black;
} */

a{
    text-decoration: none;
  }

html{
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
}