/* You can add global styles to this file, and also import other style files */
/* body{
    background-color: black;
} */

a{
    text-decoration: none;
  }

html{
    margin: 0;
    padding: 0;
    border: none;
    background-color: black;
    
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  /* Style the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
}